.header_ser_info{
    padding-top: 9vh;
    padding-left: 14.5vh;
}
.header_ser_info1{
    padding-top: 17vh;
    padding-left: 14.5vh;
    padding-bottom: 2vh;
}
.header_ser_info2{
    padding-top: 2vh;
    padding-left: 14.5vh;
}
.header_ser_info3{
    padding-top: 2vh;
    padding-left: 14.5vh;
}
.header_ser_info4{
    padding-top: 2vh;
    padding-left: 14.5vh;
}
.ser_ser{
    background-color:  #F4F0F8;
    height: 90vh;
}
.header_ser_ser2{
    padding: 11vh;
}
.all_post_ser2_info1-p2{
    padding-left: 10vh;
}
.all_post_ser2_info2-p2{
    padding-left: 10vh;
}
.all_post_ser2_info3-p2{
    padding-left: 10vh;
}
.all_post_ser2_info4-p2{
    padding-left: 10vh;
}
.all_post_ser2_info5-p2{
    padding-left: 10vh;
}
.all_post_cnopk{
    color: #6D6E76;
    background-color:white;
    border: none;
    font-weight: 700;
    font-size: medium;

}
.all_post_cnopk:hover{
    color:#232536;
}
.all_post_cnopk00{
    text-align: center;
}

