.header_home_nav_ifo{
    background-color:#232536;
    width: 100%;
    margin:0%
}
.nav-link{
    color:white;

}
.nav-link:hover{
color: #FFD050;
;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_navbar_button{
    border-radius: 0%;
    padding: 16px 48px;
    margin-right: 80px;
}
.info_navbar_button:hover{
    background-color:#FFD050;
    ;
}
.navbar_wrapper{
    justify-content: center;
    align-items: center;
}
