.about-us__header__block {
    background-color: #fff;
    padding: 5vh 5vw;
    margin-left: 20vh;
    margin-top: 20vh;
}

.about-us__header__text {
    padding-top: 40vh;
    padding-left: 10vh;
    padding-right: 30vh;
}

