body{
    background-color: black;

}
a:link{
    color:rgb(255, 255, 255);
}
a:visited{
    color: rgb(255, 255, 255);
}
a:active{
    color: red;
}
a:hover{
    color: lawngreen;
}
h1{
    color: rgb(255, 255, 255);
    
}

p{
    color: #ffffff;
}
p:before{
     content: "Начало "
}
p::after{
    content: " Конец.";
}

footer{
    color: #ffffff;
}